.exhange-card {
    border: 2px solid black;
    width: 330px;
    height: 150px;
    background: #eaeaea;
    margin: 10px;
}

.card-content {
    margin-left: 15px;
    margin-right: 3px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.card-header {
    height: 10px;
    margin-left: 20px;
    margin-right: 3px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.cancel{
    color: red;
}

.cancel:hover{
    color: red;
}

.currency-symbol{
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.title{
    text-align: center;
    margin: auto;
}

.custom-container {
    margin-left: 70px;
    margin-right: 50px;
}

.currency-input{
    display: block;
    
}

.custom-footer{
    text-align: center;
    margin: auto;
}

.modal{

}

.archived_currency {
    background: #eaeaea;
    border: 1px solid black;
    padding: 10px;
}

.selected {
    background: #D3D3D3 !important;
}

.archived_list {
    height: 500px;
    overflow: scroll;
    overflow-x: hidden;
}